.card{
    background: #fff;
    border:5px 10px;
    padding: 30px;
    text-align: left;
    width:450px;
    display: inline-block;
    margin:20px;
}
.card h1{
    font-size: 2rem;
}
.edit{
    text-align: right;
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}